
.button
{
background-color:springgreen;
border-radius: 10px;

}
.button:hover{
  background-color:green;
}

.main{
  font-size: 20px;
}
.bnd{
  color:gray
}
.button1{
  background-color:yellowgreen;
  padding: 10px;

  
}
.button1:hover{
  background-color: crimson;
}
.ol li{
  list-style-type: none;
}